.breaking {
  align-items: center;
  border: 1px solid #000;
  display: flex;
  flex-direction: column;
  margin: 16px 32px;
}

.breakingTitle {
  background-color: #000;
  color: #fff;
  flex-shrink: 0;
  padding: 8px;
  text-align: center;
  width: 100%;
}

.breakingArticles {
  align-items: center;
  display: flex;
  flex: 1;
  gap: 8px;
  justify-content: space-evenly;
  padding: 4px 32px;
  text-align: center;
}

.arrow {
  display: none;
}

@media screen and (min-width: 768px) {
  .breaking {
    flex-direction: row;
  }

  .breakingArticles:hover {
    cursor: pointer;
  }
  
  .breakingTitle {
    padding: 16px 32px;
    width: 200px;
  }

  .arrow {
    display: inline;
  }
}
