.currentArticle {
  margin: 0 auto;
  padding: 1rem;
  max-width: 80%;
}

.imageContainer {
  width: 300px;
}

.image {
  width: 100%;
}

.backBtn{
  padding: 1rem 2rem;
  text-align: right;
  width: 100%;
}