.currentArticle {
  margin: 0 auto;
  padding: 32px;
}

.image {
  width: 100%;
}

.backBtn {
  padding: 1rem 2rem;
  text-align: right;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .currentArticle {
    max-width: 60%;
  }

  .backBtn:hover {
    cursor: pointer;
  }
}
