/* .menuWrapper {
  display: flex;
} */

@media screen and (min-width: 768px) {
  .navMenu {
    align-items: center;
    display: flex;
    flex-grow: 1;
  }

  .menuWrapper {
    display: flex;
    flex-grow: 1;
    justify-content: space-evenly;
  }
}
