.header {
  align-items: center;
  margin: 24px;
  text-align: center;
}

.headerTitle {
  font-family: "UnifrakturMaguntia", cursive;
  font-size: 2rem;
  margin-top: 32px;
}

@media screen and (min-width: 768px) {
  .header {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
  }

  .headerTitle {
    margin-top: 0px;
  }

  .headerTitle:hover {
    cursor: pointer;
  }
}
