.footer {
  background-color: #2f2f2f;
  color: #fff;
  display: grid;
  grid-template-columns: 4fr 1fr 1fr 1fr;
  gap: 32px;
  padding: 64px 102px;
}

.footerTitle {
  font-family: "UnifrakturMaguntia", cursive;
  font-size: 1.5rem;
  margin-bottom: 16px;
}