.sportsContainer {
  display: flex;
  flex-direction: column;
  padding: 0 8px;
}

.sportsContainer > * {
  border-bottom: 1px solid #000;
  border-top: 1px solid #000;
  padding-bottom: 16px;
  padding-top: 16px;
}
