@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=UnifrakturMaguntia&display=swap");

* {
  box-sizing: border-box;
}

body,
html {
  height: 100%;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}