.categoryTitle {
  font-size: 2rem;
  text-align: center;
  text-decoration: underline;
  text-transform: uppercase;
}

.selectedCategory {
  display: block;
}

.articleWrapper {
  margin: 32px;
}

.image {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .selectedCategory {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }
}
